*{
    margin: 0;
    padding: 0;
    
}

.blue{
    color: blue;
}
.grey{
    color: grey;
    
}
.padding{
    box-sizing: border-box;
    padding-left: 10px;
    font-size: medium;
    color:  grey
}

.btnfilter{
    /* width: 30vw;
    height: 5vh;
    border: 1px solid red;
    margin: 1% auto 0% auto;
    display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
}

/* .btnfilter button{
    width: 80%;
    height: 80%;
    color: white;
    background-color: blue;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    display: none;
} */

.movielistdiv{
    width: 100vw;
    /* height: auto; */
    /* border: 2px solid black; */
    display: flex;
    margin-top: 40px;
    overflow: hidden;

}

.movielist{
width: 70vw;
height: 100%;
/* border: 2px solid rgb(34, 132, 21); */
display: grid;
grid-template-columns: auto auto auto;
box-sizing: border-box;

}
.movies{
    width: 20vw;
    height: 60vh;
    /* border: 2px solid yellow; */
    margin: 10px;
}
.movies img{
    width: 100%;
    height: 100%;
}


.moviefilter{
    width: 27vw;
    height: 100%;
    border: 2px solid rgba(172, 169, 169, 0.638);
    padding: 30px;
    box-sizing: border-box;
    font-size: 1.2rem;
    box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
    border-radius: 5px;
}

.filter{
    margin-top: 40px;
    border-bottom: 2px solid rgba(139, 137, 137, 0.567);
}

.filter input {
    border: none;
    font-size: 1.2rem;
    width: 94%;
    padding: 10px;
    
}
.downsymbol{
    cursor: pointer;
    user-select: none;

}
.checkboxlist{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 5px auto;
    /* padding: 10px; */
    border: 2px solid rgba(172, 169, 169, 0.638);
    box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
    border-radius: 5px;
    display: none;
    z-index: 9999;
    background-color: white;

}
.liststyle{
    list-style: none;
    padding: 10px;
    padding-right: 30px;
    color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.liststyle:hover{
background-color:rgba(172, 169, 169, 0.638);;

}
.divbetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 23px;
    padding: 10px;
}
input:focus{
outline: none;
background-color: aliceblue;
    
}
.abtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.applybtn{
    font-size: 1rem;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
    border: none;
}
.applybtn:hover{
    background-color: white;
    color: blue;
    border: 1px blue solid;
}

.ss{

        display: flex;
        align-items: center;
        justify-content: center;
        
       
}

@media screen and (max-width: 1250px){

    .checkboxlist{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 5px auto;
        /* padding: 10px; */
        border: 2px solid rgba(172, 169, 169, 0.638);
        box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
        border-radius: 5px;
        display: none;
        z-index: 9999;
        background-color: white;
        font-size: 0.9rem;
    
    }
}

@media screen and (max-width: 1000px){

    .checkboxlist{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px auto;
        /* padding: 10px; */
        border: 2px solid rgba(172, 169, 169, 0.638);
        box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
        border-radius: 5px;
        display: none;
        z-index: 9999;
        background-color: white;
        font-size: 0.8rem;
    
    }
    .filter input {
        border: none;
        font-size: 1rem;
        width: 94%;
        padding: 10px;
        
    }
    .filter{
       font-size: 1rem;
        
    }
    .moviefilter p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 850px){
    .checkboxlist{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4px auto;
        /* padding: 10px; */
        border: 2px solid rgba(172, 169, 169, 0.638);
        box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
        border-radius: 5px;
        display: none;
        z-index: 9999;
        background-color: white;
        font-size: 0.7rem;
    
    }
    .filter input {
        border: none;
        font-size: 0.9rem;
        width: 94%;
        padding: 10px;
        
    }
    .filter{
       font-size: 0.9rem;
        
    }
    .moviefilter p{
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 800px){

.movielist{
    width: 70vw;
    height: 100%;
    /* border: 2px solid rgb(34, 132, 21); */
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    
    }

    .checkboxlist{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 4px auto;
        /* padding: 10px; */
        border: 2px solid rgba(172, 169, 169, 0.638);
        box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
        border-radius: 5px;
        display: none;
        z-index: 9999;
        background-color: white;
        font-size: 0.7rem;
    
    }
    .filter input {
        border: none;
        font-size: 1rem;
        width: 94%;
        padding: 10px;
        
    }
    .filter{
       font-size: 1rem;
        
    }
    .moviefilter p{
        font-size: 1rem;
    }
    .moviefilter{
        width: 35vw;
    }

    .movielistdiv{
        width: 95vw;
        /* height: auto; */
        /* border: 2px solid black; */
        display: flex;
        margin-top: 40px;
        overflow: hidden;
    
    }

    .movies{
        width: 26vw;
        height: 50vh;
        /* border: 2px solid yellow; */
        margin: 10px;
    }

    
}

@media screen and (max-width: 600px){

    .movielist{
        width: 70vw;
        height: 100%;
        /* border: 2px solid rgb(34, 132, 21); */
        display: grid;
        grid-template-columns: auto;
        box-sizing: border-box;
        
        }
    
        .checkboxlist{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 4px auto;
            /* padding: 10px; */
            border: 2px solid rgba(172, 169, 169, 0.638);
            box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
            border-radius: 5px;
            display: none;
            z-index: 9999;
            background-color: white;
            font-size: 0.7rem;
        
        }
        .filter input {
            border: none;
            font-size: 1rem;
            width: 94%;
            padding: 10px;
            
        }
        .filter{
           font-size: 1rem;
            
        }
        .moviefilter p{
            font-size: 1rem;
        }
        .moviefilter{
            width: 50vw;
        }
    
        .movielistdiv{
            width: 95vw;
            /* height: auto; */
            /* border: 2px solid black; */
            display: flex;
            margin-top: 40px;
            overflow: hidden;
        
        }
    
        .movies{
            width: 45vw;
            height: 50vh;
            /* border: 2px solid yellow; */
            margin: 12px;
        }
    
        
    }

    @media screen and (max-width: 500px){

        .movielist{
            width: 70vw;
            height: 100%;
            /* border: 2px solid rgb(34, 132, 21); */
            display: grid;
            grid-template-columns: auto auto;
            box-sizing: border-box;
            
            }
        
            .checkboxlist{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin: 4px auto;
                /* padding: 10px; */
                border: 2px solid rgba(172, 169, 169, 0.638);
                box-shadow: -3px 3px 3px rgba(172, 169, 169, 0.638);
                border-radius: 5px;
                display: none;
                z-index: 9999;
                background-color: white;
                font-size: 0.7rem;
            
            }
            .filter input {
                border: none;
                font-size: 1rem;
                width: 94%;
                padding: 10px;
                
            }
            .filter{
               font-size: 1rem;
                
            }
            .moviefilter p{
                font-size: 1rem;
            }
            .moviefilter{
                width: 35vw;
                display: none;
            }
        
            .movielistdiv{
                width: 95vw;
                /* height: auto; */
                /* border: 2px solid black; */
                display: flex;
                margin-top: 15px;
                overflow: hidden;
            
            }
        
            .movies{
                width: 45vw;
                height: 45vh;
                /* border: 2px solid yellow; */
                margin: 10px;
            }
             
            .btnfilter{
                width: 30vw;
                height: 5vh;
                /* border: 1px solid red; */
                margin: 2% auto 0% auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            .btnfilter button{
                width: 80%;
                height: 80%;
                color: white;
                background-color: blue;
                font-size: 1rem;
                border: none;
                border-radius: 3px;
            }
        
            
        }

        @media screen and (max-width: 500px){
            .btnfilter{
                width: 35vw;
                height: 5vh;
                /* border: 1px solid red; */
                margin: 2% auto 0% auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
        }