*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

#detail-mainediv{
 width: 100vw;
 height: auto;
 display: flex;
 /* border: 2px solid black; */
 margin-top: 10px;
 margin-bottom: 50px;

}
.backbtn{
    border: none;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}
.backbtn:hover{
    
    background-color: rgb(161, 155, 155);
}

.movieposter{
    width: 20%;
    height: 500px;
    /* border: 1px solid yellow; */
    padding: 10px;
    box-sizing: border-box;

}
.movieposter img{
    width: 90%;
    height: 60%;
    margin-top: 10px;
    
    
}

.movietrailer{
    width: 58%;
    height: auto;
    /* border: 1px solid red; */
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

}

.artistsphoto{
    width: 20%;
    height: 500px;
    /* border: 1px solid blue; */
}
.trailer{
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.rating{
    width: 100%;
    height: 30%;
    /* border: 1px solid red; */
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.artistsphotodiv{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:  1px solid yellow; */
    padding: 4px;
    box-sizing: border-box;

}

.aphoto{
  width: 50%;
  height: 100%;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  /* border: 1px solid brown; */
}
.artistsname{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 20%;
    color: white;
    background-color: black;
    padding: 4px;
    box-sizing: border-box;
    font-size: 1.1rem;
    /* display: none; */
   
}


.aphoto img{
    width: 100%;
    height: 100%;
}